body{
    text-align: center;
    font-size: 20px;
    background-color: blanchedalmond;
    padding-top: 50px;
}
p{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}
nav{
    margin-top: 50px;
    margin-bottom: 50px;
}
nav a{
    font-size: 30px;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
}
table{
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(252, 210, 159);
}
td,th{
    border: 2px solid rgb(236, 175, 100);
    padding-left: 15px;
    padding-right: 15px;
}
